
EuroSciPy-2019/2 - Monday/numpy-euroscipy/
EuroSciPy-2019/2 - Monday/pandas-tutorials/
EuroSciPy-2019/3 - Tuesday/euroscipy-2019-scikit-learn-tutorial/
EuroSciPy-2019/3 - Tuesday/euroscipy-scipy-tutorial/
